#!/bin/sh

# ==============================================================================
# post-merge
# ==============================================================================
# Hook to fetch secrets after every pull.
# Should be kept in .git/hooks/post-merge
# ==============================================================================

sh ./secrets_fetch.sh